{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quiz Mage</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {# 导航栏 #}
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent mb-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block head %}{% endblock %}
            </ul>
        </div>
    </nav>

    <main class="container">
        <!-- 添加一个消息容器 -->
        <div class="alert-container text-center">
            {{ render_messages(container=False, dismissible=True) }}
        </div>
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2025 计算机设计大赛 <a href="http://127.0.0.1:5000/" title="Quiz Mage">Quiz Mage</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>