{% extends 'base.html' %}
{% from 'bootstrap/nav.html' import render_nav_item %}

{% block head %}
    {{ render_nav_item('teacher_bp.profile', tno, tno=tno) }}
    {{ render_nav_item('teacher_bp.teacher_account', '个人信息', tno=tno) }}
    {{ render_nav_item('teacher_bp.teacher_course', '个人课程', tno=tno) }}
    {{ render_nav_item('login_bp.index', '退出登录') }}

    <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/?tno={{ tno }}" target="_blank">
            进入答题系统
        </a>
    </li>

{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row w-75">
        <!-- 个人信息卡片 -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4>个人信息</h4>
                </div>
                <div class="card-body">
                    <p><strong>姓名：</strong>{{ name }}</p>
                    <p><strong>工号：</strong>{{ tno }}</p>
                    <p><strong>性别：</strong>{{ gender }}</p>
                    <p><strong>学院：</strong>{{ college }}</p>
                </div>
            </div>
        </div>

        <!-- 个人课程卡片 -->
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4>个人课程</h4>
                </div>
                <div class="card-body">
                    {% if courses %}
                        {% for course in courses %}
                            <p><strong>{{ course.cname }}</strong> ({{ course.cno }})</p>
                        {% endfor %}
                    {% else %}
                        <p>您尚未教授任何课程。</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}