
.btn-primary {
    background-color: #1976d2 !important; /* 主要颜色设为蓝色 /
    color: white !important; / 按钮文字设为白色 */
    border-radius: 4px !important;
    min-width: 100px !important;
    padding: 8px 16px !important;
    font-weight: 400px !important;
    transition: all 0.3s ease-in-out;
}
    
.btn-primary:hover {
    background-color: #0056b3  !important;
    transform: scale(1.05);
}
    
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    }
    
    .card:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: scale(1.02);
    }
    

.btn-primary {
    background-color: #1976d2 !important; /* 主要颜色设为蓝色 /
    color: white !important; / 按钮文字设为白色 */
    border-radius: 4px !important;
    min-width: 100px !important;
    padding: 8px 16px !important;
    font-weight: 400px !important;
    transition: all 0.3s ease-in-out;
}
    
.btn-primary:hover {
    background-color: #0056b3  !important;
    transform: scale(1.05);
}
    
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
    }
    
    .card:hover {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: scale(1.02);
    }
    
    .navbar {
        background: #1976d2 !important; /* 导航栏设为蓝色 /
        color: white !important; / 字体颜色设为白色 */
        height: 65px; /* 调整导航栏高度，例如80px */
        padding: 10px 20px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); /* 添加底部阴影*/
        transition: all 0.4s ease-in-out !important;
    }
        
    .navbar a {
        color: white !important; /* 导航栏链接字体颜色 */

        text-decoration: none;
    }
    

    h2 {
    color: #1976d2;
    }
    
    
        
    .navbar a {
        color: white !important; /* 导航栏链接字体颜色 */

        text-decoration: none;
    }
    

    h2 {
    color: #1976d2;
    }

    .alert-container {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050; /* 确保消息显示在其他内容之上 */
        width: 50%; /* 控制消息宽度 */
    }